body {
	font-family: 'Changa One', sans-serif;
	background-color: black;
}

#enterBtn {
	cursor: pointer;
	margin: 50px auto 0 auto;
	background: transparent;
	display: block;
	border: 1px solid white;
	border-radius: 20px;
	color: white;
	padding: 10px 30px;
}

#enterBtn:hover {
	background: #ffffff41;
}

#enterBtn:active {
	background: white;
	color: black;
}
